<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated myModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="myModel.presentation.MyModelModelWizardID"
            name="%_UI_MyModelModelWizard_label"
            class="myModel.presentation.MyModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MyModelModelFile.gif">
         <description>%_UI_MyModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated myModel -->
      <editor
            id="myModel.presentation.MyModelEditorID"
            name="%_UI_MyModelEditor_label"
            icon="icons/full/obj16/MyModelModelFile.gif"
            extensions="mymodel"
            class="myModel.presentation.MyModelEditor"
            contributorClass="myModel.presentation.MyModelActionBarContributor">
      </editor>
   </extension>

</plugin>
